---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="jumbotron">
  <h1 class="display-4">Hello there.</h1>
  <p class="lead">Welcome to my blog. 
    <br>
    This blog is used to document my learning while on the JAMstack Bootcamp with <strong><a href="https://thecodersguild.org.uk/">The Coders Guild.</a></strong></p>
  
  <p>Throughout the course I also documented my learning on a Trello board. You are welcome to visit the board below.
  </p>
  <p class="lead">
    <a class="btn btn-light btn-lg" href="https://trello.com/invite/b/Hgycq1Z9/3f211cd60ee064ff752b572ea0e719b1/jamstack" role="button">Trello Board</a>
  </p>
  <hr class="my-4">
  <p>If you would like to visit my online web developers profile, you can hit the lovely designed Bootstrap button below.
  </p>
  <p class="lead">
    <a class="btn btn-light btn-lg" href="https://www.gt-web-dev.site/" role="button">Visit online portfolio</a>
  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <img class="profile-photo" src="img\gary-tate-.jpg">
    <h4>Hi, I'm Gary Tate...</h4>
    <p>
      I'm currently studying JAMstack development with <strong><a href="https://thecodersguild.org.uk/">The Coders Guild.</a></strong></p>
    <p>This blog is a live project while I'm on the JAMstack bootcamp and is used to evidence my completed tasks and any extra learning that I will undertake throughout the course.
      Technologies used on this blog are: <strong>HTML, CSS, JavaScript, CMS, Bootstrap, Eleventy, Nunjucks and Markdown.</strong> The website is deployed on <strong>Netlify.</strong> 
    </p>
    <p>You are welcome to visit my online developers profile <strong><a href="https://www.gt-web-dev.site">HERE</a></strong> and my github profile can be found <strong><a href="https://github.com/garytate123">HERE.</a></strong></p>
    
  </div>
  <div class="col-md-6">
    {% set maxPosts = collections.posts.length | min(5) %}
    <h1>Latest
      {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }}
        Posts{% endif %}
    </h1>

    {% set postslist = collections.posts | head(-5) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}

    <p>More posts can be found in
      <a href="{{ '/posts/' | url }}">the archive</a>.</p>
  </div>
</div>

<br>