---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello there. This is a test.</h1>
    <p class="lead">Welcome to my blog. This blog will mainly be focused on my learning about JAMStack.</p>
    <hr class="my-4">
    <p>If you would like to visit my online web developers profile. Hit the lovely designed Bootstrap button below.
    </p>
    <p class="lead">
      <a class="btn btn-light btn-lg" href="https://www.gt-web-dev.site/" role="button">I'm the lovely Boostrap button</a>
    </p>
  </div>
</div>
<div class="container">
  {% set maxPosts = collections.posts.length | min(5) %}
  <h1>Latest
    {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }}
      Posts{% endif %}
  </h1>

  {% set postslist = collections.posts | head(-5) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}

  <p>More posts can be found in
    <a href="{{ '/posts/' | url }}">the archive</a>.</p>
</div>