<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">

    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <ligit nk="nk" rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
      <script id="mcjs">
        !function (c, h, i, m, p) {
          m = c.createElement(h),
          p = c.getElementsByTagName(h)[0],
          m.async = 1,
          m.src = i,
          p
            .parentNode
            .insertBefore(m, p)
        }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/2b0b5856cbe1dd48f6b442099/039a8c86c67f5cd53e63a8502.js");
      </script>
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>

    <body>
      <div class="container">
        <header>
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          <nav class="navbar navbar-expand-lg navbar-light ">
            <h1 class="home">
              <a class="navbar-brand" href="{{ '/' | url }}">{{ metadata.title }}</a>
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav nav">
                {%- for entry in collections.all | eleventyNavigation %}
                  <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                  </li>
                {%- endfor %}
              </ul>
            </div>
          </nav>
        </header>
      </div>

      <main {% if templateclass %} class="{{ templateClass }}" {% endif %}>
        <div class="container">
          {{ content | safe }}
        </div>
      </main>
      <div class="container footer">
        <footer>
          &copy 2021 - Created by Gary Tate
        </footer>
      </div>
      <!-- Current page: {{ page.url | url }} -->

      {# ------------------------------------------------------------- #}
      <script>
        if (window.netlifyIdentity) {
          window
            .netlifyIdentity
            .on("init", user => {
              if (!user) {
                window
                  .netlifyIdentity
                  .on("login", () => {
                    document.location.href = "/admin/";
                  });
              }
            });
        }
      </script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     <!-- JS Script for fontawesome -->
      <script src="https://kit.fontawesome.com/6d2ea823d0.js"></script>
    </body>
  </html>